<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/img/images.png">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@600&family=Rowdies&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    

</head>
<body>
    <div>
    <%- include ("partials/header.ejs") %>
    </div>
    <form>
        <input type="text" placeholder="location" id="loca">
        <button>search</button>
    </form>
    <h1 id="temp"></h1>
    <p id="humid"></p>
    

</body>
</html>
<script src="/js/src.js"></script>